.btn {
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

  min-height: 40px;
  min-width: 40px;
}

.btn:hover {
  opacity: .9;
  transition: 200ms;
}